* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
}

.container {
    background: #1F2937;
    max-width: 550px;
    width: 100%;
    display: block;
    margin: 10px auto;
    padding: 118px 40px 46px 40px;
    
}

.title {
    color: #4ADF86;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.025em;
    margin-bottom: 10px;
    width: 354px;
}

.title .title-white {
    color: #fff;
}

.title-subheading {
    margin: 0;
    color: #D5D4D8;
    font-weight: 400px;
    font-size: 20px;
    line-height: 1.4;
}

.icon {
    width: 14px;
    height: 18px;
    margin-right: 12px;
    transform: translateY(20%);
}

.generate-btn {
    background: #10B981;
    display: inline-block;
    padding: 9px 15px;
    margin-top: 50px;
    margin-bottom: 35px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

hr {
    margin-bottom: 35px;
    border: none;
    border-bottom: 1px solid #2F3E53;
}

.container-bottom {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 15px;
                
}

.passwords {
    background: #273549;
    border: none;
    border-radius: 6px;
    width: 211px;
    color: #55F991;
    font-weight: 500;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    margin-bottom: 27px;
    padding: 4px 15px;
}

.passwords:hover {
    cursor: auto;
    border: 1px solid #D5D4D8;
}

.three-dot {
    background-image: url(/three-dot-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    text-align: center;
    color: #4ADF86;
}

a {
    color: #0eec67;
}